.bg-light{
    background-color: rgb(202, 201, 201);
}

.bg-dark{
    background-color: rgb(202, 201, 201);
}

.text-light{
    color: white;
}

.text-dark{
    color: black;
}

.btn-light{
    background-color: rgb(161, 241, 235);
}

.btn-dark{
    background-color: rgb(23, 117, 105);
}

